* @gregestren @brandjon

AUTHORS  @sventiffe @philwo
android/ @ahumesky @jin
cpp-tutorial @oquenchil
java-maven/ @jin
java-tutorial/ @jin
make-variables @configurability
flags-parsing-tutorial @configurability
rules/starlark-configurations @gregestren @configurability
third-party-dependencies @metorcloudy
