<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bazel.foo"
    android:versionCode="1"
    android:versionName="1.0" >

  <uses-sdk
      android:minSdkVersion="21"
      android:targetSdkVersion="26" />
      
  <application
      android:label="Something else"
      android:allowBackup="false"
      tools:replace="android:label,android:allowBackup"
      >
  </application>

</manifest>
