<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bazel"
    android:versionCode="1"
    android:versionName="1.0" >

  <uses-sdk
      android:minSdkVersion="21"
      android:targetSdkVersion="26" />

  <application
      android:label="Bazel Tutorial App">
    <activity
        android:name=".MainActivity"
        android:label="Bazel Tutorial App" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
